---
import Header from "@/components/block/Header/index.astro"
import Countdown from "@/components/block/Countdown/index.astro"
import Details from "@/components/block/Details/index.astro"
import Footer from "@/components/block/Footer/index.astro"
import Hero from "@/components/block/Hero/index.astro"
import Layout from "@/layouts/main.astro"
import Location from "@/components/block/Location/index.astro"
import MediaPlayer from "@/components/block/MediaPlayer/index.astro"
import Outfit from "@/components/block/Outfit/index.astro"
import Rsvp from "@/components/block/Rsvp/index.astro"
import SpecialPerformance from "@/components/block/SpecialPerformance/index.astro"
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Details />
    <Countdown />
    <Outfit />
    <Rsvp />
    <Location />
    <SpecialPerformance />
  </main>
  <MediaPlayer />
  <Footer />
</Layout>
